* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body {
  font-family: Roboto, Helvetica , sans-serif;
  background: #fafafa;
}

/* ------------> HEADER <----------------- */
header {
  background-color: #3f51b5;
  padding: 0 24px;
  height: 64px;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0px;
  left: 0px;
  box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.69);
}
header h6  {
   font-size: 1.25rem;
   color: #ffffff;
   font-weight: 200;
   max-width: 90%;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}

/* Burger nav slider */
.burger {
  margin-right: 20px;
  display: none;
}

.burger .item1,
.burger .item2,
.burger .item3{
  width: 25px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.91);
  margin: 5px;
}

/* --------------> Wrapper <----------------- */
.container {
  display: flex;
}


/* ------------> Navigation <----------------- */
/* not showing icons */
/* span {
  display: none;
} */

.side-nav {
  padding-top: 80px;
  width: 240px;
  height: 100vh;
  border-right: 1px solid rgba(0, 0, 0, 0.17);
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.95);
}

/* nav links */
.nav-links {
  list-style: none;
}

.nav-links li {
  min-height: 50px;
  padding: 8px 8px 8px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  display: flex;
  align-items: center;
}

.nav-links li:last-child{
  border: none;
}

.nav-links a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
}

.nav-links span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: linear-gradient(to right, rgba(241, 39, 124, 0.75), rgba(37, 6, 159, 0.9));
  border-radius: 50%;
  margin-right: 20px;
}

/* ------------> MAIN <----------------- */

.main {
  padding-top: 96px;
  padding-left: 20px;
  padding-right: 20px;
  flex: 1;
}
.begin-todo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.main h1{
  color: rgba(0, 0, 0, 0.87);
  font-weight: 200;
  font-size: 2.2rem;
}

.btn {
  font-size: 0.9rem;
  padding: 6px 16px;
  color: #ffffff;
  background-color: #f50057;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2),
              0px 2px 2px 0px rgba(0,0,0,0.14),
              0px 1px 5px 0px rgba(0,0,0,0.12);
  cursor: pointer;
}

.btn:hover {
  background-color: #cc034a;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.5),
              2px 0px 6px -2px rgba(0, 0, 0, 0.5),
              -2px 0px 6px -2px rgba(0, 0, 0, 0.5);
}

.btn:active{
  box-shadow: 0px 6px 10px -2px rgba(0, 0, 0, 0.2),
              4px 0px 10px -2px rgba(0, 0, 0, 0.2),
              -4px 0px 10px -2px rgba(0, 0, 0, 0.2),
              -4px -4px 10px  rgba(255, 255, 255, 0);

}


/* ------> Table */
.table {
  font-size: 0.9rem;

  display: table;
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
  border: 0.5px solid rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.42),
              .6px 0px 1.4px -1px rgba(0, 0, 0, 0.42);
  background-color: #ffffff;
}


.table th,
.table td {
  padding: 20px;
  text-align: left;
}

.table td {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

/* ------------> Mobile view <----------------- */
@media screen and (max-width: 720px) {
  .container{
    display: block;
  }
  .main{
    padding-top: 96px;
    padding-left: 3vw;
    padding-right: 3vw;
  }
  .table th,
  .table td {
    padding: 3.5vw;
  }


/* SIde nav bar */
   body {
     position: relative;
   }
    header {
      padding: 0 16px;
    }
    .burger {
      display: block;
    }
  .side-nav {
    padding-top: 0;
    background-color: #ffffff;
    max-width: 250px;
    height: calc(100vh - 64px);
    width: 60%;
    position: fixed;
    top: 64px;
    left: 0;
  }
  .nav-links li {
    border-bottom: none;
    padding-left: 8vw;
  }
}

@media screen and (max-width: 380px) {
   .begin-todo {
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
   .begin-todo h1 {
     margin-bottom: 10px;
   }

}
